.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.divider {
  height: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.title {
  margin-bottom: 2rem;
}

.textFeature {
  margin-bottom: 2rem;
}